@import "../../styles/variables";

.facet-dropdown-container {
  .btn-light {
    background-color: #f3f3f3;
  }

  .dropdown-menu {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    width: inherit;

    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      background-color: #f5f5f5;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $black;
      border: 2px solid #555555;
    }
  }
}

.facet-clear-icon {
  color: $blue;
  font-size: large;
}
