@import "../../_neumorphism.scss";

.action-panel {
  @include neumorphic-embossed(8px); // Softer emboss for the card container
  margin-bottom: 1.5rem;
  border: none;

  &:hover {
    @include neumorphic-debossed(8px); // Softer debossed effect on hover
  }

  .project-image {
    border-radius: 8px; // Slightly rounded corners for the image
    @include neumorphic-debossed(3px); // Subtle debossed effect for the image
    margin-bottom: 1rem;
  }

  .project-tag {
    @include neumorphic-flat-pressed(1px);
    border: none;
    color: var(--color-foreground);
    background-color: var(--color-background);
    &:hover {
      @include neumorphic-embossed(1px);
    }
  }

  .project-button {
    @include neumorphic-embossed(3px);
    border: none;
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-weight: 600;

    &:hover {
      color: var(--color-foreground);
      background-color: var(--color-background);
    }

    &:active {
      @include neumorphic-debossed(3px);
    }
  }
}
