.live-editor {
  background: grey;
  font-family: "Source Code Pro", monospace;
  overflow: auto;
  font-size: 1.275rem;
  height: 21vh;
  max-height: 21vh;
  background: rgb(50, 42, 56);
  overflow: auto;
  color: #e7d2ed;
}

.live-preview {
  overflow: auto;
  font-size: 1.275rem;
  height: 21vh;
  max-height: 21vh;
  overflow: auto;
}

.sandbox-editor {
  resize: both;
  overflow: auto;
}

.i-frame {
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}
