/* All `theme` related constants
 * These values are direct overrides of the variables defined in bootstrap/_variables.scss
 */

$blue: #0658aa;
$black: #151515;
$gray: #757575;
$link-grey: #797979;
$light-gray: #b4b4b4;
$bg-grey: #eef2f7;

// button color overrides
$primary: #0f5dac;
$danger: #a52727;
$primary-btn-gradient: linear-gradient(180deg, #0b79d8 0%, #0f5dac 100%);
$danger-btn-gradient: linear-gradient(180deg, #ed5353 0%, #a52727 100%);
$danger-btn-border: 1px solid #e93f3f;

$colors: (
  'gray': $light-gray,
  'gray-dark': $gray,
);

$body-bg: #efefef;
$body-color: $black;

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// $font-size-base: 14px;

$h1-font-size: 24px;
$h2-font-size: 18px;
$h3-font-size: 16px;
$h4-font-size: 14px;
$h5-font-size: 13px;
$h6-font-size: 13px;
