@import "../_neumorphism.scss";

.landing-page-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease, color 0.3s ease;

  .main-content {
    flex-grow: 1;
    overflow-y: auto; // Allow main content to scroll
  }
}
