@import "../../_neumorphism.scss";

.project-page-container {
  padding: 2rem;
  h1 {
    color: var(--color-foreground);
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    @include neumorphic-flat();
  }
}

.deck-card {
  @include neumorphic-embossed();
  margin-bottom: 1.5rem;
  border: none; // Remove default bootstrap card border
  .card-footer {
    background: var(--color-background);
    border-top: none; // Remove default footer border
    @include neumorphic-flat();
  }

  &:hover {
    @include neumorphic-debossed(); // Add interactive effect on hover
  }
}
