

.wrapper{
  height: 100vh !important;
}

.text-overflow-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: white !important;
}

