@import "./styles/variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #172b4d;
  background: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.monty {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-style: italic;
}

.bg-apple-grey {
  background: $neu-col;
}
