.app-nav {
  z-index: 999;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.app-pill-nav {
  z-index: 999;
  bottom: 0;
  position: fixed;
  left: 0px;
  right: 0px;
}

.neu-black {
  border-radius: 15px;
  background: #3d3e3f;
  box-shadow: 7px 7px 14px #191c1f, -7px -7px 14px #292e33;
}
