.app-nav {
  top: 3rem;
  position: fixed;
  left: 0px;
  width: 3.5rem;
  height: calc(100vh - 0.5rem);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  -webkit-box-align: center;
  align-items: center;
  background-color: #159bfd;
}
