.app-nav {
  position: fixed;
  top: 48px;
  bottom: 22px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(28, 32, 34);
  border-right: 1px solid rgb(17, 21, 24);
  flex: 0 0 3.5rem;
}
